<% include ../partials/header %>
<div class="container">
	<h1 class="text-center mt-3">
		Edit <%=list.name%> List
	</h1>
	<div class="row">
		<div class="col-8 mt-3 mx-auto">
			<form action="/lists/<%=list._id%>?_method=PUT" method="POST">
				<label for="firstName">List Name</label>
				<div class="form-group">
					<input class="form-control" type="text" id="name" name="list[name]" value="<%=list.name%>" required>	
				</div>
				
				<div class="form-group">
					<textarea name="list[descr]" class="form-control" required><%=list.descr%></textarea>
				</div>
				
				<button class="btn btn-lg btn-primary btn-block">
					Update List
				</button>
			</form>
			<a class="btn btn-lg btn-outline-danger btn-block mt-3" href="/lists/<%=list._id%>">
				Cancel
			</a>
		</div>
	</div>
</div>
<% include ../partials/footer %>