<% include ../partials/header %>
<div class="container">
	<div class="jumbotron my-3">
		<h1 class="display-4"><%=list.name%></h1>
		<p class="lead"><%=list.descr%></p>
		<hr class="my-4">
		<a class="btn btn-sm btn-success" href="/lists/<%=list._id%>/tasks/new">Add New Task</a>
		<a class="btn btn-sm btn-outline-warning" href="/lists/<%=list._id%>/edit">Edit</a>
		<form class="inline-form" action="/lists/<%=list._id%>?_method=DELETE" method="POST">
			<button class="btn btn-sm btn-outline-danger">Delete</button>
		</form>
	</div>
	
	<div class="row">
		<% list.tasks.forEach(function(task){%>
			<div class="col-sm-12 col-md-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title"><%=task.name%></h5>
						<p class="card-text"><%=task.descr%></p>	
						<p class="card-text font-weight-bold">Due: <%=task.dueDate.toLocaleDateString();%></p>
						<p class="card-text">Reminder on: <%=task.reminderDate.toLocaleDateString();%></p>
						<form class="inline-form" action="/lists/<%=list._id%>/tasks/<%=task._id%>?_method=DELETE" method="POST">
							<button class="btn btn-sm btn-success">Complete Task</button>
						</form>
						<a class="btn btn-sm btn-warning" href="/lists/<%=list._id%>/tasks/<%=task._id%>/edit">Edit</a>
					</div>
				</div>
			</div>
		<%})%>
	</div>
</div>
<% include ../partials/footer %> 